@media screen and (max-width:1300px) {
	body {
		font-size: 14px;
	}

	.wrapper {
		width: 768px;
	}
}

@media screen and (max-width:780px) {
	.wrapper{
		width: 320px;
	}

	.mobile-hamburger {
		display: block;
		width: 28px;
		height: 28px;
		background: url('../img/humburger_menu.svg') center center no-repeat;
		background-size: 28px;
		cursor: pointer;
	}

	.mobile-hamburger:hover {
		background: url('../img/humburger_menu_hover.svg') center center no-repeat;
		background-size: 28px;
	}
}