html {
	background: #fff;
	height: 100%;
}

body {
	font-family: 'Nunito';
	font-size: 18px;
	background: #fff;
	color: #000000;
	font-weight: 500;
}

.page__header {
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrapper {
	width: 1600px;
	margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    align-items: center;
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 60px;
    margin-right: 30px;
}

.header__menu_items {
    display: flex;
    justify-content: space-between;
}

.header__menu_item {
    padding: 0 30px;
}

.header__menu_link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__items {
    display: flex;
	justify-content: space-between;
	align-items: center; 
}

.social__item {
    width: 28px;
	height: 28px;
	display: inline-block;
	text-decoration: none;
	overflow: hidden;
	margin-right: 10px;
	background-size: 28px;
}

.social__item:last-child {
	margin-right: 0;
}

.social__item_telegram {
    background: url('../img/social/telegram.svg') center center no-repeat;
	background-size: 28px;
}

.social__item_vk {
    background: url('../img/social/vk.svg') center center no-repeat;
	background-size: 28px;
}

.social__item_tiktok {
    background: url('../img/social/tiktok.svg') center center no-repeat;
	background-size: 28px;
}

.social__item_ok {
    background: url('../img/social/ok.svg') center center no-repeat;
	background-size: 28px;
}

.social__item_youtube {
    background: url('../img/social/youtube.svg') center center no-repeat;
	background-size: 28px;
}

.social__item_dzen {
    background: url('../img/social/dzen.svg') center center no-repeat;
	background-size: 28px;
}

.phone__number {
    font-weight: 700;
    font-size: 16px;
    color: #C11E73;
    text-decoration: none;
    margin-left: 60px;
}

.header__content {
    position: relative;
}

.header__content picture,
.header__content img {
    width: 100%;
    background-size: cover;
    object-fit: cover;
    display: inline-block;
}

.header__content_info {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.header__content_header {
    font-weight: 600;
    font-size: 75px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 40px;
    width: 770px;
}

.header__content_text {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #000000;
    width: 546px;
    margin-bottom: 40px;
}

.btns_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 546px;
}

.btns_item {
    width: 263px;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #C11E73;
    border-radius: 35px;
    width: 100%;
    padding: 23px 23px 23px 63px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #930a51;
    color: #fff;
}

.btn span {
    position: relative;
}

.btn span:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;  
}

.btn_instruction span:before {
    background: url('../img/instruction.svg') center center no-repeat; 
}

.btn_buy span:before {
    background: url('../img/buy.svg') center center no-repeat;
}

/* vitamins__block */
.vitamins__block {
    padding: 40px 0;
    background-color: #fff;
}

.vitamins__items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.vitamins__item {
    width: 32%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F7F7F7;
    border-radius: 20px;
    padding: 21px;
}

.vitamins__item_pic {
    width: 128px;
    height: 128px;
    border-radius: 20px;
    margin-right: 30px;
}

.vitamins__item_pic img {
    width: 100%;
    height: 100%;
}

.vitamins__item_info {
    max-width: 65%;
}

.vitamins__item_header {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.vitamins__item_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

/* end vitamins__block */
/* elements__block  */
.elements__block {
    width: 100%;
    background: url('../img/content/elements_bg.png') center center no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.elements__block_header {
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
}

.elements__block_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    width: 720px;
    margin: 15px auto;
}

.elements__block_table {
    width: 100%;
    margin-top: 55px;
    margin-bottom: 20px;
}

.elements__block_table table {
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
}

.elements__block_table th {
    background: #C11E73;
    color: #fff;
    border: none;
}
  
.elements__block_table td,
.elements__block_table th {
    padding: 37px 30px 37px 65px;
    width: 20%;
}

.elements__block_table tr {
    background: #fff;
    border: none;
    width: 100%;
}

.elements__block_table tr:nth-child(2n+1) {
    background: #FEEFF7;
}

.elements__block_footer {
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    padding: 30px 60px;
}

.elements__footer_items {
    display: flex;
    justify-content: space-between;
}

.elements__footer_item {
    width: 20%;
}

.elements__footer_item:nth-child(2) {
    width: 40%;
}

.elements__footer_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #787878;
    margin: 0;
    padding: 0;
}

.text_red {
    color: #9B0656;
}
/* end elements__block  */

.live__items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.live__item {
    width: 50%;
}

.live__item:first-child {
    background: url('../img/content/live_1.png') center center no-repeat;
    background-size: cover;
}

.live__item_content {
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 620px;
}

.live__item_header {
    font-weight: 600;
    font-size: 50px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.live__item_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.live__item:nth-child(2) img {
    width: 100%;
    background-size: contain;
}

.time__block {
    position: relative;
    width: 100%;
}

.time__block_bg,
.time__block_bg img {
    width: 100%;
    z-index: 1;
}

.time__block_content {
    position: absolute;
    width: 100%;
    padding: 100px 0;
    top: 0;
}

.time__header {
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.time__items {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.time__item {
    width: 27%;
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(208, 208, 208, 0.6);
    border-radius: 20px;
    padding: 16px;
}

.time__item_number {
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    text-transform: uppercase;
    color: #C11E73;
    padding: 12px 27px;
    background: #FFC2E2;
    border-radius: 20px;
    display: inline-block;
}

.time__item_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    margin: 15px 0;
}

.info__items {
    display: flex;
    justify-content: space-between;
}

.info__item {
    width: 50%;
    padding: 80px 100px;
    /* height: 356px; */
    /* position: relative; */
}

.info__item_header {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #000000;
}

.info__item_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.info__item:nth-child(2) {
    background: url('../img/content/pink_bg.png') center center no-repeat;
}

.info__item:nth-child(2) .info__item_header {
    color: #fff;
}

.info__content_items {
    display: flex;
    justify-content: space-between;
}

.info__content_item {
    width: 47%;
}

.info__content_text {
    margin-left: 70px;
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.info__content_text:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: -70px;
    background: url('../img/big_marker.svg') center center no-repeat;
    background-size: contain;
}

.recommendations__block {
    background: url('../img/content/recommendations_bg2.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 100px 0;
}

.recommendations__pic {
    width: 1020px;
    margin: 90px auto;
}

.where-buy_block {
    padding: 100px 0;
    text-align: center;
}

.where-buy_header {
    margin-bottom: 30px;
    text-align: center;
}

.where-buy_items {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.where-buy_item {
    width: 23%;
    background: #F7F7F7;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.where-buy_item_pic {
    width: 80%;
    margin: 50px auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bad__block {
    width: 100%;
}

.bad__img {
    width: 100%;
}

.footer__top {
    padding: 100px 0;
    background-color: #fff;
}

.footer__top_items {
    display: flex;
    justify-content: space-between;
}

.footer__top_item {
    width: 15%;
}

.footer__top_item:nth-child(2) {
    width: 50%;
}

.footer__logos {
    display: flex;
    justify-content: flex-start;
}

.footer__logos img {
    height: 47px;
}

.footer__logos img:first-child {
    margin-right: 40px;
}

.footer__menu_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu_item {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.footer__menu_link {
    color: #000000;
    text-decoration: none;
}

.footer_link {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #C11E73;
}

.footer__text_block {
    text-align: center;
    margin-top: 50px;
    width: 50%; 
    margin: 50px auto 0 auto;
}

.footer__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #787878;
}

.footer__bottom {
    background: #F7F7F7;
    padding: 25px 0;
}

.footer__bottom_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom_copy p {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin: 0;
}

.footer__bottom_links {
    display: flex;
    justify-content: flex-end;
}

.footer__bottom_link {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #C11E73;
    margin-right: 60px;
}

.footer__bottom_link:last-child {
    margin-right: 0;
}


/*mobmenu*/
.mobile-hamburger {
	display: none;
}

.sidebar-block__top {
	overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sidebar-block__header {
	display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000;
}

.sidebar-block__close {
	float: right;
	margin-right: 40px;
	margin-top: 0;
	position: relative;
	cursor: pointer;
}

.sidebar-block__close:before {
	content: '';
	position: absolute;
	top: 0px;
	background: url('../img/close_dark.svg');
	width: 17px;
	height: 17px;
	background-size: contain;
}

.sidebar-block__close:hover:before {
	background: url('../img/close_dark_hover.svg');
	width: 17px;
	height: 17px;
	background-size: contain;
}

.sidebar {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	overflow: auto;
	width: 100%;
	transition: transform 500ms ease-in-out 0ms;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	background-color: #fff;
	color: #000;
	padding: 25px;
}

.sidebar_opened {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	width: 100%;
}

.sidebar-overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.sidebar-block__content {
    text-align: center;
}

.sidebar__menu_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.sidebar__menu_item {
    width: 100%;
    margin: 20px auto;
}

.sidebar__menu_link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.sidebar__social {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.sidebar__social .social__items {
    justify-content: center;
}

.sidebar-block__content .footer_link {
    text-align: center;
    margin: 40px auto;
    display: block;
}
